<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BodePlotter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BodePlotter.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BodePlotter.Properties.Settings>
            <setting name="MeasurementDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="MeasurementRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartFrequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StopFrequency" serializeAs="String">
                <value>22000</value>
            </setting>
            <setting name="NumPoints" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReferenceVoltage" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="OffsetCalculationTestFrequency" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefPlotLabel" serializeAs="String">
                <value>Ref</value>
            </setting>
            <setting name="ActualPlotLabel" serializeAs="String">
                <value>Actual</value>
            </setting>
            <setting name="RefPlotColor" serializeAs="String">
                <value>#FF4336</value>
            </setting>
            <setting name="ActualPlotColor" serializeAs="String">
                <value>#2195F2</value>
            </setting>
            <setting name="ChartFont" serializeAs="String">
                <value>Segoe UI, 12pt</value>
            </setting>
            <setting name="ChartFontColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ChartGridColor" serializeAs="String">
                <value>#F0F0F0</value>
            </setting>
            <setting name="ChartBackgroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
        </BodePlotter.Properties.Settings>
        <BodePlotter.Settings>
            <setting name="SourceDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="MeasurementDevice" serializeAs="String">
                <value />
            </setting>
        </BodePlotter.Settings>
    </userSettings>
</configuration>